body{
               
     font-family: sans-serif;
}
button{
     width: 100px;
     height: 30px;
     border: 1px solid #000;
     background: white;
     cursor: pointer;
     border-radius: 10px;
     color: #000;
}
button:hover{
     background: darkblue;
     color: white;
}